#lock {
    background-image: url("/home/karimi/.config/wlogout/catppuccin/icons/wlogout/mocha/lock.svg");
}

#logout {
    background-image: url("/home/karimi/.config/wlogout/catppuccin/icons/wlogout/mocha/logout.svg");
}

#suspend {
    background-image: url("/home/karimi/.config/wlogout/catppuccin/icons/wlogout/mocha/suspend.svg");
}

#hibernate {
    background-image: url("/home/karimi/.config/wlogout/catppuccin/icons/wlogout/mocha/hibernate.svg");
}

#shutdown {
    background-image: url("/home/karimi/.config/wlogout/catppuccin/icons/wlogout/mocha/shutdown.svg");
}

#reboot {
    background-image: url("/home/karimi/.config/wlogout/catppuccin/icons/wlogout/mocha/reboot.svg");
}
